    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger[href="#page-top"]
          | Start Bootstrap
        button.navbar-toggler.navbar-toggler-right[type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"]
          |  Menu 
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger[href="#portfolio"]
                | Portfolio
            li.nav-item
              a.nav-link.js-scroll-trigger[href="#about"]
                | About
            li.nav-item
              a.nav-link.js-scroll-trigger[href="#contact"]
                | Contact
    header.masthead
      .container
        = image_tag('img/profile.png', class: 'img-fluid')
        .intro-text
          span.name
            | Start Bootstrap
          hr.star-light
          span.skills
            | Web Developer - Graphic Artist - User Experience Designer
    section#portfolio
      .container
        h2.text-center
          | Portfolio
        hr.star-primary
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal1" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/cabin.png', class: 'img-fluid')
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal2" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/cake.png', class: 'img-fluid')
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal3" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/circus.png', class: 'img-fluid')
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal4" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/game.png', class: 'img-fluid')
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal5" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/safe.png', class: 'img-fluid')
          .col-sm-4.portfolio-item
            a.portfolio-link[href="#portfolioModal6" data-toggle="modal"]

            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            = image_tag('img/portfolio/submarine.png', class: 'img-fluid')
    section#about.success
      .container
        h2.text-center
          | About
        hr.star-light
        .row
          .col-lg-4.ml-auto
            p
              | Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
          .col-lg-4.mr-auto
            p
              | Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
          .col-lg-8.mx-auto.text-center
            a.btn.btn-lg.btn-outline[href="#"]
              i.fa.fa-download
              |  Download Theme 
    section#contact
      .container
        h2.text-center
          | Contact Me
        hr.star-primary
        .row
          .col-lg-8.mx-auto
            form#contactForm[name="sentMessage" novalidate]
              .control-group
                .form-group.floating-label-form-group.controls
                  label
                    | Name
                  input#name.form-control[type="text" placeholder="Name" required data-validation-required-message="Please enter your name."]
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls
                  label
                    | Email Address
                  input#email.form-control[type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address."]
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls
                  label
                    | Phone Number
                  input#phone.form-control[type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number."]
                  p.help-block.text-danger
              .control-group
                .form-group.floating-label-form-group.controls
                  label
                    | Message
                  textarea#message.form-control[rows="5" placeholder="Message" required data-validation-required-message="Please enter a message."]
                  p.help-block.text-danger
              br
              #success
              .form-group
                button#sendMessageButton.btn.btn-success.btn-lg[type="submit"]
                  | Send
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3
                | Location
              p
                | 3481 Melrose Place 
                br
                | Beverly Hills, CA 90210
            .footer-col.col-md-4
              h3
                | Around the Web
              ul.list-inline
                li.list-inline-item
                  a.btn-social.btn-outline[href="#"]
                    i.fa.fa-fw.fa-facebook
                li.list-inline-item
                  a.btn-social.btn-outline[href="#"]
                    i.fa.fa-fw.fa-google-plus
                li.list-inline-item
                  a.btn-social.btn-outline[href="#"]
                    i.fa.fa-fw.fa-twitter
                li.list-inline-item
                  a.btn-social.btn-outline[href="#"]
                    i.fa.fa-fw.fa-linkedin
                li.list-inline-item
                  a.btn-social.btn-outline[href="#"]
                    i.fa.fa-fw.fa-dribbble
            .footer-col.col-md-4
              h3
                | About Freelancer
              p
                | Freelance is a free to use, open source Bootstrap theme created by 
                a[href="http://startbootstrap.com"]
                  | Start Bootstrap
                | .
      .footer-below
        .container
          .row
            .col-lg-12
              |  Copyright © Your Website 2017 
    .scroll-top.d-lg-none
      a.btn.btn-primary.js-scroll-trigger[href="#page-top"]
        i.fa.fa-chevron-up
    #portfolioModal1.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/cabin.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
    #portfolioModal2.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/cake.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
    #portfolioModal3.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/circus.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
    #portfolioModal4.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/game.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
    #portfolioModal5.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/safe.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
    #portfolioModal6.portfolio-modal.modal.fade[tabindex="-1" role="dialog" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .close-modal[data-dismiss="modal"]
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  h2
                    | Project Title
                  hr.star-primary
                  = image_tag('img/portfolio/submarine.png', class: 'img-fluid img-centered')
                  p
                    | Use this area of the page to describe your project. The icon above is part of a free icon set by 
                    a[href="https://sellfy.com/p/8Q9P/jV3VZ/"]
                      | Flat Icons
                    | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                  ul.list-inline.item-details
                    li
                      | Client: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Start Bootstrap
                    li
                      | Date: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | April 2014
                    li
                      | Service: 
                      strong
                        a[href="http://startbootstrap.com"]
                          | Web Development
                  button.btn.btn-success[type="button" data-dismiss="modal"]
                    i.fa.fa-times
                    |  Close
