doctype html
html[lang="en"]
  head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
    meta[name="description" content=""]
    meta[name="author" content=""]
    title BusinessRhythmTest
    link[href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"]
  body#page-top
    = yield
